<footer
  class="footer"
  style="
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 10px;
    background-color: #f7f7f9;
  "
>
  <div class="container" style="text-align: center;">
    <span class="text-muted"
      >Developed by <a href="https://dev.to/jamesshah">James Shah</a> with ❤️</span>
  </div>
</footer>
