<div class="jumbotron">
  <h1 class="display-5">
    Get Latest Updates In Your Inbox
  </h1>
  <p class="lead">
    Register your mobile number once and get daily updates of new cases in India
    and also in your state.
  </p>
  <hr class="my-4" />
  <p>
    Let's fight Corona Virus together by avoiding getting together!
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/users/register" role="button"
      >Register Now</a
    >
  </p>
</div>
