<h2>
  Thank you for Registration. You will Receive Corona Virus Updates On Your
  Registered Number.
</h2>
<br />
<strong>#StaySafe</strong>
<br />
<a href="/" class="btn btn-primary" style="text-decoration: none;"
  >Go To Home</a
>
